#questions {
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	line-height: 20px;
}
.form-group > .lab{
	font-size: 20px;
	color: black;
	text-transform: inherit;
	font-weight: 600;
	line-height: 25px;
}
#questions>.lab,.rad {
	font-weight: 600;
	display: flex;
	
	color: black;
}

#questions label .options {
	background-color: blanchedalmond;
}



h1 {
	text-align: center;
	color: black;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.form-group {
	margin-bottom: 0px;
	display: none;
	justify-items: center;
	
}
#questions .radlab{
	color: black;
	display: flex;
	justify-items: center;
	
}
#questions .radlab .lab {
	display: flex;
	justify-items: center;
	color: black;
	font-size: 19px;
	padding: 0;
	margin: 0;
	font-weight: 500;
	text-transform: inherit;
	margin-left: 10px;
	justify-items: center;
	line-height: 40px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: goldenrod;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: gold;
	color: black;
}

button[disabled] {
	background-color: #ccc;
	cursor: not-allowed;
}
 question{
	font-size: 24px;
}
#result {
	display: flex;
	align-items: center;
	text-align: center;
	width: auto;
	height: 344.59px;
}
#result .result-content {
	margin: 0px auto;
	width: 220px;
	height: 100%;
	padding: 10px 10px 10px 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
#result .result-content>img{

	margin-bottom: 10px;
}
#quizForm {
	font-size: 24px;
	color: black;
}
