body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-service{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    margin-top: 30px;
    box-shadow: 0 10px 10px #979797;
    padding: 15px 15px;
    
}
.col-md-12{
    width: 100%;
    height: auto;
}
.col-md-12 .port32{
    width: 100%;
    height: auto;
}
.col-lg-3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.single-service .hover{
    margin-left: 20px;
    color: black;
    transition: .6s;
}
.stats-area{
    display: flex;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.stats-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}
.single-stats{
    color: #fff;
    text-align: center;
    margin-left: 25px;
    justify-content: space-around;
}
.single-stats i{
    margin-bottom: 20px;
    font-size: 48px;
    
}
.single-stats h2{
    font-size: 50px;
    font-weight: bold;
    color: RED;
    text-shadow: 0px 0px 25px black;
}
.single-stats p{
    font-size: 24px;
    font-family: 'Audiowide', cursive;
    font-weight: 600;
    text-shadow: 0px 0px 25px black;
}
.services-area .single-service i{
    display: flex;
    justify-content: center;
    text-align: center;
}


.single-service{
    box-sizing: border-box;
    width: 300px;
    height: 90%;
    margin-top: 30px;
    box-shadow: 0 10px 10px #979797;
    padding: 15px 15px;
    
}
.col-md-12{
    width: 100%;
    height: auto;
}
.col-md-12 .port32{
    width: 100%;
    height: auto;
}
.col-lg-3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.single-service .hover{
    margin-left: 20px;
    color: black;
    transition: .6s;
}
.hover:hover{
    margin-left: 10px;
    color: white;
}
.single-service i{
    text-align: center;
}
.single-service h2{
    margin: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
single-service img{
    width: 100%;
    height: 200px;
}
.single-service h6{
    font-weight: bold;
    margin: 0;
}
.single-service p span{
    display: flex;
    justify-content: flex-start;
}
.single-service:hover{
    background: #262626;
    color: #fff;
    transition: .6s;
}
.hover:hover{
    margin-left: 10px;
    color: white;
}
.single-service i{
    text-align: center;
}
.single-service h2{
    margin: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
single-service img{
    width: 100%;
    height: 200px;
}
.single-service h6{
    font-weight: bold;
    margin: 0;
}
.single-service p span{
    display: flex;
    justify-content: flex-start;
}
.single-service:hover{
    background: #262626;
    color: #fff;
    transition: .6s;
}
.award-area{
    position: relative;
    background-image: url(img/cont.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
   
}